*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

html{
      font-family: sans-serif;
}

body{
      width: 100%;

      font-size: 16px;
      line-height: 1;
      letter-spacing: 1;

      background-color: #151515;
      color: #fff;
}

.wrapper{
      min-height: 100%;
      overflow: hidden;
}

.container{
      padding: 0 20px;
      margin: 0 auto;
}